/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}


/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

* {
  box-sizing: border-box;
 
}


header {
/*outline: 1px solid red; */
width: 100%;
background-color: #fff;
height: 80px;
margin: 0;
}

header div a {
  color: #373b47;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 40px 20px 40px; 
}


header div:first-child {
  padding-left: 150px;
}

.logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  position: relative;
  left: 850px;
}

.first-section {
  /*outline: 1px solid blue; */
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-image: url("assets/images/bg-home.jpg");
}

img[alt="Home"] {
  width: 100%;
  padding: 0;
  margin: 0;
}

.first-section div {
  margin: 0;
  padding: 0;
}

.first-section h2 {
  font-size: 25px;
  color: #fff;
  position: relative;
  top: 150px;
  left: 570px;
  display: inline-block;
}
 .first-section h1 {
   position: relative;
   top: 350px;
   left: 60px;
   font-size: 40px;
   color: #fff;
   display: inline;
 }

 .first-section p {
   color: #fff;
   position: relative;
   top: 400px;
   right: 510px;
   display: inline-block;
   
 }

 .first-section button {
   position: relative;
   top: 450px;
   background-color: #2ecc71;
   color: #fff;
   border-style: none;
   padding: 15px;
 }

 .second-section {
   background-color: #f17c72;
   font-family: 'Lato', sans-serif;
   text-align: center;
 }

 .second-section div h2 {
   font-size: 35px;
   color: #fff;
 }

 .second-section div h4 {
   color: #fff;
 }

 .second-section div {
 display: inline-block;
 margin-right: 100px;
 margin-bottom: 30px;
 }

 img[alt="services"] {
   width: 180px;
   margin-bottom: 10px;
 }
.service h5, h6 {
  margin: 2px auto;
  color: #fff;
  letter-spacing: 1px;

}

.third-section {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.third-section h2 {
  padding-top: 50px;
}

.third-section p {
  margin-bottom: 30px; 
}

img[alt="hero"] {
  margin-top: 30px;
  width: 1000px;
}

.third-section div img[alt|=work] {
  width: 300px;
  height: 300px;
}

.third-section div {
  float: left;
  margin: 40px;
}

.box-container {
  overflow: auto;
  width: 100%;
  padding-left: 180px;
}