/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}


/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/


/*Reseteando el código. Quitando el valor por defecto de contente-box.*/
* {
  box-sizing: border-box;
  font-family:'Raleway', sans-serif;
}

/*sección header. Se estable un ancho de 100% par que ocupe todo el espacio de la pantalla. Se establce la propiedad position a fixed para que se mantenga estática cada vez que el usuario recorra la página web. "z-indez" es para que se le de prioridad y se muestre adelante de los demás elementos*/
header {
/*outline: 1px solid red; */
width: 100%;
height: 150px;
background-color: #fff;
margin: 0;
position: fixed;
z-index: 1000;
}

/*Seleccionando a los elementos ancla que están dentro de header. Un display inline-block, para que puedan alinearse.*/
header div a {
  color: #373b47;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 40px 20px 20px;
  padding-top: 50px;
  position: fixed;
}

/*el selector id, se utiliza para desplazar, con position relative, las etiquetas ancla: work y team*/
#work {
  position: relative;
  left: 100px;
}

#team {
  position: relative;
  left: 100px;
}

/*estableciendo padding al primer elemento del contenedor div que está dentro de header*/
header div:first-child {
  padding-left: 150px;
}

/*El selector de clase para el logotipo. Estableciendo inline-block y luego position relative para poder desplazarlo*/
.logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  position: relative;
  left: 1000px;
  bottom: 20px;
}

/*Primera sección de la página. Se centra el texto y se establece como background la imagen*/
.first-section {
  /*outline: 1px solid blue; */
  font-weight: 900;
  text-align: center;
  background-image: url("assets/images/bg-home.jpg");
}

/*Con el selector de atributo, a la imagen como background se le da el ancho total de la sección*/
img[alt="Home"] {
  width: 100%;
  padding: 0;
  margin: 0;
}

/*Con selectores anidados, se da estilo a cada elemento dentro de la primera sección(h2, h1, p y button)*/

.first-section h2 {
  color: #fff;
  display: inline-block;
  font-size: 25px;
  position: relative;
  top: 200px;
  left: 340px;
}
 .first-section h1 {
   color: #fff;
   display: inline;
   position: relative;
   top: 320px;
   right: 180px;
   font-size: 40px;
 }

 .first-section p {
   color: #fff;
   display: inline-block;
   position: relative;
   top: 300px;
   left: 100px; 
 }

 .first-section button {
   position: relative;
   top: 400px;
   right: 300px;
   background-color: #2ecc71;
   color: #fff;
   border-style: none;
   padding: 15px;
 }

 /*Segunda sección. Se establece color de fondo y la alineación centrada del texto*/
 .second-section {
   background-color: #f17c72;
   text-align: center;
 }

 /*Con selectores de anidamiento, se establecen los estilos de cada elemento contenidos dentro de div, que a su vez está dentro de la segunda sección. Son desplazados a través de la propiedad position, relative*/
 .second-section div h2 {
   font-size: 35px;
   color: #fff;
   position: relative;
   left: 30px;
 }

 .second-section div h4 {
   color: #fff;
   position: relative;
   left: 30px;
   margin-bottom: 80px;
 }

 .second-section div {
 display: inline-block;
 margin-right: 120px;
 margin-bottom: 30px;
 }

 /*Con selectores id, se desplazan los contenedores principales de la sección, que contienen a la imagen y los textos*/
 #left {
  position: relative;
  left: 20px;
}

 #center {
   position: relative;
   left: 90px;
 }

 #right {
   position: relative;
   left: 130px;
 }

 /*Por medio de un selector de atributo, se establce el añcho de cada imagen y su margen*/
 img[alt="services"] {
   width: 180px;
   margin-bottom: 10px;
 }

 /*Se establace con este selector el estilo a cada subtitulo de la sección (h5y h6); se usa letter-spacing para espaciar las letras*/
.service h5, h6 {
  margin: 2px auto;
  color: #fff;
  letter-spacing: 1px;

}

/*Tercerca sección. Se alinea el texto a centrado*/
.third-section {
  text-align: center;
}

.third-section h2 {
  padding-top: 50px;
}

.third-section p {
  margin-bottom: 30px; 
}

/*Con selector de atributo, la imagen principal es definida en tamaño y el tamaño de separación del elemnto situado arriba de él */
img[alt="hero"] {
  margin-top: 30px;
  width: 1000px;
}

/*Con selector de atributo textual, se seleccionan a todos las imágenes cuyo valor del tributo alt, inicia con "work" y se determina su tamaño*/
.third-section div img[alt|=work] {
  width: 300px;
  height: 300px;
}

/*Se flotan los contenedores de las imágenes secundarias y se separan unas de otras 40px*/
.third-section div {
  float: left;
  margin: 40px;
}

/*Se establece overflow, para contender los elementos flotados*/
.box-container {
  overflow: auto;
  width: 100%;
  padding-left: 180px;
}

.third-section p {
  font-weight: bold;
}

/*Dando estilo a footer */
footer  {
  width: 1583px;
  height: 70px;
  background-color: #373b47;
  position: relative;
  top: 2700px;
}

footer p {
  position: relative;
  bottom: 2670px;
  left: 750px;
}